<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a [routerLink]="['/' + routes.home.as]" class="navbar-brand">{{ title }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a [routerLink]="['/' + routes.home.as]" class="router-link">Home</a></li>
                <li><a [routerLink]="['/' + routes.recipes.as]" class="router-link">Recipes</a></li>
                <li><a [routerLink]="['/' + routes.pantry.as]" class="router-link">Pantry</a></li>
            </ul>
        </div>
    </div>
</nav>